body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px;
}
.menu-principal {
    background-color: #252323;
    height: 60px;
    width: 100%;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 16px;
    width: 70%;
}
.rede-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    list-style: none;
}
.rede-sociais {
    width: 25%;
    float: right;
}
.headr-2 {
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    border-bottom: 3px solid #efefef;
    height: 80px;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}
.menu ul li:hover {
    border-bottom: 2px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.buscar {
    width: 30%;
    float: right;
    text-align: center;
}
.buscar input {
    margin-top: 10px;
    height: 20px;
    width: 190px;
    padding: 10px;
    background-image: url('../img/buscar.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0;
    border: none;
    height: 51px;
    width: 24px;
    background-color: transparent;
    background-image: url('../img/arrowLeft.png');
    position: absolute;
    z-index: 9;
    top: 45%;
    left: 10%;
}
button.slick-next {
    font-size: 0;
    border: none;
    height: 51px;
    width: 27px;
    background-color: transparent;
    background-image: url('../img/arrowRight.png');
    position: absolute;
    z-index: 9;
    top: 45%;
    right: 10%;
}
.slider-principal{
    width: 100%;
    overflow: hidden;
}
.slick-dots li {
    display: inline-block;
    padding-left: 10px;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
li.slick-active button {
    background: #00bac6;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 570px;
}
.slicl-list {
    width: 100%;
}
.slicl-initialized {
    overflow: hidden;
}